Thumbs.db

## Minecraft
/decompiled
/minecraft

## gradle
/.gradle
/gradle
/build
/gradlew*

## ForgeGradle
/run

## eclipse
/.settings
/.metadata
/.classpath
/.project
/bin

## intellij
/out
/.idea
/atlassian-ide-plugin.xml
/BVKS.iml
/BVKS.ipr
/BVKS.iws

## Private Stuffs
/private.properties
/setup.cmd

## Jars
*.jar
!/gradle/wrapper/gradle-wrapper.jar